{% extends "layouts/layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <div class="container-sm">
        <form action="/buy" method="post">
            <input name="symbol" class="form-control" autofocus autocomplete="off" type="text" placeholder="Enter stock symbol">
            <br>
            <input name="shares" class="form-control" autocomplete="off" type="number" placeholder="Number of shares">
            <br>
            <button class="btn btn-primary" type="submit">Buy</button>
        </form>
    </div>
    

{% endblock %}


