{% extends "layouts/layout.html" %}

{% block title %}
    Main
{% endblock %}

{% block main %}
<div class="container">
    <div class="section">
        <table>
            <thead>
                <tr>
                    <th>Stock Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}

                    <tr>
                        <td>{{ stock["symbol"] }}</td>
                        <td>{{ stock["shares"] }}</td>
                        <td>{{ stock["price"] | usd }}</td>
                        <td>{{ stock["total"] | usd }}</td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="section">
        <table>
            <thead>
                <tr>
                    <th>Cash balance</th>
                    <th>Grand total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ cash_balance | usd }}</td>
                    <td>{{ grand_total | usd }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
